@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.cdnfonts.com/css/rockwell-nova');
:root
{
    --darkBlue: #101823;
    --primaryBlue: #1B273B;
    --secondaryBlue: #162030;
    --cocktailTag: #283a57;
    --lightBlue: #4b6da5;
    --white: #eaeaea;
    --black: #101823;
    --yellow: #ebc23b;
}

html, body, .container, .row, .col-sm, .title
{
    background-color: var(--darkBlue);
    font-family: "Rockwell Nova";
}

a
{
    text-decoration: none;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: var(--darkBlue);
}

::-webkit-scrollbar-track
{
    background: var(--primaryBlue);
    width: 5px;
    border-radius: 100px;
    z-index: -1;
}

::-webkit-scrollbar-thumb
{
    background: var(--lightBlue);
}

::-webkit-scrollbar-thumb:hover
{
    border-color: var(--white);
}

a:hover
{
    color: var(--yellow);
    transition: 0.3s;
}

.hidden
{
    display: none;
}

.show
{
    display: block;
}
