:root
{
    --darkBlue: #101823;
    --primaryBlue: #162030;
    --secondaryBlue: #1b283b;
    --lightBlue: #4b6da5;
    --white: #eaeaea;
    --black: #101823;
    --yellow: #ebc23b;
}

html, body, .container, .row, .col-sm
{
    background-color: var(--darkBlue);
}

a
{
    text-decoration: none;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--darkBlue);
}

::-webkit-scrollbar-track
{
    background: var(--primaryBlue);
    width: 5px;
    border-radius: 100px;
    z-index: -1;
}

::-webkit-scrollbar-thumb
{
    background: var(--lightBlue);
}

::-webkit-scrollbar-thumb:hover
{
    border-color: var(--white);
}

root, html, body, .container-fluid, .container, .row, .container .row, .col, .col-sm
{
    background-image: url('../img/pattern-drink-wallpaper.png');
}

a:hover
{
    color: var(--yellow);
}
