@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--primaryBlue);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    z-index: 99999999999999999999999999999999999999999999999999;
}

.menu-icon
{
    display: none;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}
.logo .menu-icon {
    color: var(--white);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name {
    color: var(--white);
    font-size: 3rem;
    font-weight: 200;
    font-family: Harlekin;
}
nav .sidebar
{
    position: fixed;
    top: 70px;
    left: 0%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: var(--secondaryBlue);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    border-right: 2px solid var(--darkBlue);
}

.user-info
{
    position: fixed;
    top:10px;
}

.user-info .icon
{
    right:10px;
    position: fixed;
    top:20px;
}

.user-name
{
    top:25px;
    position: fixed;
    right:45px;
}

.logo, .sidebar
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999999999;
}

nav.open .sidebar {
    left: 0;
}
.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    top:0;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 16px;
}

.bottom-content
{
    background-color: var(--primaryBlue);
    border-radius: 10px;
    z-index: 9999999;
    margin-bottom: 60px;
}

.bottom-content:hover
{
    background-color: var(--yellow);
    transition: 0.3s;
}

.bottom-content:hover .list .nav-link .link, .bottom-content:hover .list .nav-link .icon
{
    color: var(--primaryBlue);
    transition: 0.3s;
}

.bottom-content .list .nav-link
{
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.sidebar-content .list {
    list-style: none;
}

.sidebar-content .lists
{
    background-color: var(--primaryBlue);
    border-radius: 12px;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: var(--white);
}
.nav-link .link {
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
}

a:hover
{
    color: var(--yellow); !important;
}

.lists .nav-link:hover .icon, .lists .nav-link:hover .link {
    color: var(--yellow);
    transition: 0.3s;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}
nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

.user-info
{
    color: var(--white);
}

.content
{
    margin-left: 260px;
    margin-bottom: 30px;
}

.title
{
    font-family: "Poppins" , sans-serif;
    margin-top: 100px;
    margin-left:300px;
    margin-bottom: 0px;
    z-index: 9999999;
    color: var(--white);
}

@media (max-width:820px)
{
    .user-name
    {
        display: none;
    }

    nav .sidebar
    {
        left: -100%;
    }

    .menu-icon
    {
        display: block;
    }

    .content
    {
        margin-left: 0px;
    }

    .title
    {
        margin-left: 10px;
    }
}
