
.selectStatus
{
    background-color: var(--cocktailTag);
    color: var(--white);
    border-radius: 12px;
    border:none;
    text-transform: uppercase;
    font-weight: lighter;
}
.cardTable
{
    height: 16rem;
    width: 16rem;
    color: var(--white);
    background-color: var(--secondaryBlue);
    border: 2px solid var(--lightBlue);
}

.cardTableEditable
{
    height: 16rem;
    width: 16rem;
    color: var(--white);
    background-color: var(--secondaryBlue);
    border: 2px solid #ebc23b;
}

.cardTable:hover, .cardTableEditable:hover, .cardTableCompleted:hover
{
    background-color: var(--primaryBlue);
    cursor: pointer;
    transition: 0.3s;
}

.cardTableDisabled {
    height: 16rem;
    width: 16rem;
    color: #F93C3C;
    background-color: var(--secondaryBlue);
    border: 2px solid #F93C3C;
}

.cardTableCompleted {
    height: 16rem;
    width: 16rem;
    color: limegreen;
    background-color: var(--secondaryBlue);
    border: 2px solid limegreen;
}