.info-item-panel
{
    color: var(--white);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.19);
    z-index: 999;
    !important;
}

.item-name
{
    font-size: 30px;
}

.list-ingredients ul
{
    list-style: none;
    margin-left: -18px;
    font-size: 20px;
}

.list-ingredients .ingredient-list .ingredient-qt
{
    color: var(--lightBlue);
}

.price
{
    font-size: 30px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: right;
    color: var(--white);
}

.item-tags .badge
{
    background-color: var(--cocktailTag);
    text-transform: uppercase;
    padding: 5px 32px;
    font-weight: lighter;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.back-button
{
    color: var(--yellow);
    font-size: 50px;
    font-weight: lighter;
    top:1%;
    left: 0.2%;
    position: absolute;
}

/*style per aggiungiCocktail*/

.card-body .addCocktailFields, .card-body .modifyItemFields
{
    background-color: var(--primaryBlue);
    color: var(--white);
    border-radius: 12px;
    border:none;
}

.card-body .addCocktailFields:focus, .card-body .modifyItemFields:focus
{
    background-color: var(--primaryBlue);
    color: var(--white);
    border-radius: 12px;
    border:none;
}

.selectFlavours
{
    background-color: var(--cocktailTag);
    color: var(--white);
    border-radius: 12px;
    border:none;
    text-transform: uppercase;
    font-weight: lighter;
}

.checkIBA
{
    accent-color: var(--cocktailTag);
    color: var(--white);
    border-radius: 12px;
    border:none;
    text-transform: uppercase;
    font-weight: lighter;
}

.card-body .btn-addCocktail, .card-body .btn-modifyCocktail
{
    background-color: var(--cocktailTag);
    color: var(--white);
    border-radius: 12px;
}

.card-body .btn-addCocktail:hover, .card-body .btn-modifyCocktail:hover
{
    background-color: var(--yellow);
    color: var(--secondaryBlue);
    border: none;
}

.btn-newUser {
    background-color: var(--cocktailTag);
    color: var(--white);
    border-radius: 12px;
}

.btn-newUser:hover {
    background-color: var(--yellow);
    color: var(--secondaryBlue);
    border: none;
    transition-duration: 0.2s;
}

#backToListCocktail:hover
{
    cursor: pointer;
}
